<div class="content">
  <div class="showcase">
    <splide [options]="{ type: 'loop', autoplay: true, interval: 3000 }">
      @for (i of [1, 2, 3]; track i) {
      <splide-slide>
        <div
          [ngStyle]="{
            'background-image':
              'url(assets/images/metromap-banner-' + i + '.png)'
          }"
          class="metromap-banner"
        ></div>
      </splide-slide>
      }
    </splide>
  </div>

  <div class="buttons">
    <a
      class="block-button"
      href="https://www.meska.hu/p5666366-magyarorszag-gyorsforgalmi-uthalozata-metroterkep"
      target="_blank"
      rel="noopener"
    >
      I order my copy and I live in Hungary
    </a>

    <a
      class="block-other-button"
      href="https://www.etsy.com/listing/1785099562/magyarorszag-gyorsforgalmi-uthalozata"
      target="_blank"
      rel="noopener"
    >
      I order my copy and I live abroad
    </a>
  </div>

  <div class="introduction">
    The first version of the very unique Hungarian Highway Map, for cartography
    and transportation-lovers. Every Hungarian motorway and expressway with on-
    and offramps, rest stops, structures, intersections, notable landmarks and
    more.
  </div>
  <div class="introduction">
    To express my gratitude and the joy of using the
    <a href="http://metromap.fr">Redesigned Parisian Metro Map </a> for almost
    every day, I wanted to create a visual art on the Hungarian Highway System,
    using a very similar design language defined by parisian transport network
    <a href="https://www.ratp.fr/">RATP</a>, and
    <i>Constantine Konovalov</i> who re-dreamed it to be more interpretable.
  </div>
  <div class="introduction">
    The map is a metro-style map of the entire Hungarian highway network. The
    schematic design distorts distances but creates a diagram network, which can
    be easily read.
  </div>
  <div class="introduction">
    <i
      >Maps are designed in a country with the metric system. Most posters are
      designed for the B-standard.</i
    >
    B2-sized (50x70cm - 19.6x27.5in), one-sided print, designed to be framed to
    an
    <a href="https://www.ikea.com/hu/hu/p/knoppaeng-kepkeret-fekete-70387140/"
      >IKEA KNOPPÄNG</a
    >.
  </div>
  <div class="introduction">
    Maps are designed in a country with the metric system. Most posters are
    designed for the B-standard. You will find the various B-sizes and
    dimensions in centimeters and inches below.
  </div>

  <br />
  <div class="introduction">
    <b>Language:</b> Hungarian<br /><br />
    <b>Print:</b> One-sided full-colour<br /><br />

    <b>Size:</b> 70x50cm - 27.5x19.6in (landscape) or 40x50 cm.<br /><br />
    <b>Paper size:</b>
    B2<br /><br />
  </div>
</div>
