.main {
	background-color:#a799ff;
	background-image:
	radial-gradient(at 4% 63%, hsla(325,79%,76%,1) 0px, transparent 50%),
	radial-gradient(at 76% 21%, hsla(348,88%,69%,1) 0px, transparent 50%),
	radial-gradient(at 29% 66%, hsla(190,95%,65%,1) 0px, transparent 50%),
	radial-gradient(at 55% 58%, hsla(190,72%,73%,1) 0px, transparent 50%),
	radial-gradient(at 13% 97%, hsla(237,76%,66%,1) 0px, transparent 50%),
	radial-gradient(at 75% 35%, hsla(225,84%,61%,1) 0px, transparent 50%),
	radial-gradient(at 2% 21%, hsla(333,99%,66%,1) 0px, transparent 50%);
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;

	.overlay {
		background: rgba(0, 0, 0, .2);
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	app-navigation {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 400;
	}
}