<div class="main" [@flyInOut]>
	<div class="contact-container email-container">
		<div class="subtitle">
			Say hello to
		</div>
		<div class="email">
			&#97;&#100;&#101;&#110;&#97;&#46;&#109;&#117;&#114;&#97;&#110;&#99;&#115;&#105;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
		</div>
	</div>

	<div class="contact-container external-link-container">
		<a href="https://github.com/adeeena" class="external-link-item" target="_blank">
			<span>Github</span>
			<fa-icon [icon]="faGithub"></fa-icon>
		</a>

		<a href="https://linkedin.com/in/adeeena" class="external-link-item" target="_blank">
			<span>Linkedin</span>
			<fa-icon [icon]="faLinkedin"></fa-icon>
		</a>
	</div>
</div>