.content {
	margin-top:  6rem;
	padding:  0 15rem;

	.selfie {	
		text-align: center;

		img {
			max-height: 50vh;
		}
	}

	.introduction {
		margin-top: 1.5rem;
	}

	h1 {
		font-size: 2rem;
		font-weight: normal;
		line-height: 2.5rem;
		margin-top: 4rem;
	}

	.download-buttons {
		margin-top:  2rem;

		a {
			background: linear-gradient(90deg,#42a5f5 0%,#0b72c6 99%);
			border-radius: 5px;
			color: white;
			box-shadow:  0 0 #0003,0 0 #00000024,0 0 #0000001f;
			margin-right: 1rem;
			padding: .5rem 1rem;
			text-decoration: none;
			text-transform: uppercase;
			transition:  all ease .3s;

			&:hover {
				padding: .5rem 1.5rem;
			}
		}
	}

	.jump-links {
		display: flex;
		font-size: 1.5rem;
		gap: 1rem;
		margin: 1rem 0;

		a {
			color: white;
		}
	}
}