<div class="content">
	<div class="selfie">
		<img src="assets/images/selfie.jpg" />
	</div>

	<div class="introduction">
		Pleased to meet you, I'm Adéna Auróra Montefiori <span [innerHTML]="'👋' | utf8EmojisToImages:'apple':16"></span>
	</div>
	<div class="introduction">
		I've been creating, designing and tinkering on the web, desktop and mobile for over 13 years, owning multiple products and several great websites.
	</div>
	<div class="introduction">
		I love challenges and projects where I can fully commit myself to.
	</div>

	<div class="download-buttons">
		<a class="pdf" href="https://adena.dev/cv-english.pdf">
			Download my CV 🇬🇧
		</a>

		<a class="pdf" href="https://adena.dev/cv-french.pdf">
			Télécharger mon CV 🇫🇷
		</a>
	</div>

	<h1>My profile</h1>
	<div class="introduction">
		From my experience as a software developer, solutions architect and designer on e-commerce platforms, internal tools, documentation, customer spaces, I collaborate with product teams, tech and all stakeholders to design end-to-end experiences.
	</div>
	<div class="introduction">
		I help discover new needs and problems by being in contact with product users, and find solutions that are simple to design, easy for the developers to develop, use and maintain.
	</div>
	<div class="introduction">
		My skills cover user solution prototyping, technical specification, budgeting, coordination between teams, documentation, deployment, maintenance, performance/usability follow-up and fine tuning.
	</div>
	<div class="introduction">
		Pragmatic, I think "macro" and think through product and strategic issues.
	</div>

	<h1>My experience</h1>
	<div class="introduction">
		Since very early age, I had the opportunity to learn programming, along with graphic design self-learning through assisting to my father's own graphic design company.
	</div>
	<div class="introduction">
		After my university degree, I had the opportunity to shortly move to Paris, then Nice to work in a francophone environment, and excel in my domain.
	</div>
	<div class="introduction">
		In parallel of my professional experience, in 2021 I translated <a href="https://genderdysphoria.fyi">The Gender Dysphoria Bible in both Hungarian and French</a>, with that I discovered my urge and willingness to assist on such projects. This is when I also started hosting my own podcast, the <a href="https://1tpc.hu">Egy Transz Podcast</a>, sharing my own experience mixing with collected resources.
	</div>
	<div class="introduction">
		In 2023, I launched the website <a href="https://genderutikalauz.hu">Gender Útikalauz</a>, a wiki-like information website. This also opened opportunities to collaborate with different Hungary-based supporting communities and associations.
	</div>

	<div class="jump-links">
		<a href="https://github.com/adeeena" target="_blank">
			<fa-icon [icon]="faGithub"></fa-icon>
		</a>

		<a href="https://linkedin.com/in/adeeena" target="_blank">
			<fa-icon [icon]="faLinkedin"></fa-icon>
		</a>

		<a href="https://instagram.com/adena.aurora" target="_blank">
			<fa-icon [icon]="faInstagram"></fa-icon>
		</a>
	</div>
</div>