<div class="container" [@flyInOut]>
	<div class="overlay">
		<div class="main">
			<div class="subtitle">
				Say hello to
			</div>
			<div class="email">
				&#97;&#100;&#101;&#110;&#97;&#46;&#109;&#117;&#114;&#97;&#110;&#99;&#115;&#105;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
			</div>
		</div>

		<!-- <div class="main">
			<a href="https://www.linkedin.com/in/smurancsik/" class="external-link" target="_blank">
				<fa-icon [icon]="faLinkedin"></fa-icon>
			</a>

			<a href="https://github.com/smurancsik" class="external-link" target="_blank">
				<fa-icon [icon]="faGithub"></fa-icon>
			</a>
		</div> -->
	</div>
</div>