body, html {
	font-family: 'Fira Sans', "Helvetica Neue", sans-serif;
	font-size: 1.05rem;
	margin: 0;
}

body {
	background-color: #00011d;
	background-image: radial-gradient(at 6% 13%,#00005a 0,transparent 50%),radial-gradient(at 87% 20%,#00002f 0,transparent 50%),radial-gradient(at 45% 86%,#0102c5 0px,transparent 50%);
	background-size: 200% 200%;
	animation: gra 60s infinite ease;
}

@keyframes gra {
    0%{background-position:10% 0}
    50%{background-position:91% 100%}
    100%{background-position:10% 0}
}

a {
	color: #42a5f5;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


.title {
	font-size: 2rem;
	font-weight: bold;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	text-transform: uppercase;
}

.container {
	background: white;
	height: 100%;
	overflow: scroll;
	width: 100%;

	@media (max-width: 600px) {
        padding-top: 3.5rem;
    }

	@media (min-width: 601px) {
		padding-top: 5.5rem;
	}
}
