<div class="main">
	<div class="title">
		Personal Projects
	</div>

	<div class="personal-projects-list">
		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/gdb.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Translation - Gender Dysphoria Bible
					</div>

					<div class="personal-project-description">
						Provided Hungarian translation for Gender Dysphoria Bible.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://link.adena.dev/ghgdfyi" target="_blank">
						<fa-icon [icon]="faGithub"></fa-icon>
					</a>

					<a href="https://link.adena.dev/gdfyihu" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>

    <div class="personal-project-item">
      <div class="personal-project-image">
        <img src="assets/images/maw.png" />
      </div>

      <div class="personal-project-infos">
        <div>
          <div class="personal-project-title">
            Mini-Encyclopedia of Microagressions
          </div>

          <div class="personal-project-description">
            Base site and Hungarian + French translation for Interactive Mini-Encyclopedia of Microagressions.
          </div>
        </div>

        <div class="personal-project-links">
          <a href="https://link.adena.dev/ghgdfyi" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>

          <a href="https://link.adena.dev/mawhu" target="_blank" class="main-link">
            (HU) Link &gt;
          </a>

          <a href="#" target="_blank" class="main-link">
            (FR) Link soon
          </a>
        </div>
      </div>
    </div>

		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/etpc.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Egy Transz Podcast
					</div>

					<div class="personal-project-description">
						Hungarian educational podcast episodes in LGBT+ topics.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://1tpc.hu" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>

		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/blog.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Adéna's Work Blog
					</div>

					<div class="personal-project-description">
						A collection of posts I retrieved during my professional working experience.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://link.adena.dev/blog" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
