<div class="main">
	<div class="title">
		Personal Projects
	</div>

	<div class="personal-projects-list">

		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/etpc.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Egy Transz Podcast
					</div>

					<div class="personal-project-description">
						Hungarian educational podcast episodes in LGBT+ topics.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://instagram.com/egytranszpodcast" target="_blank">
						<fa-icon [icon]="faInstagram"></fa-icon>
					</a>

					<a href="https://1tpc.hu" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>


		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/genderutikalauz.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Gender útikalauz
					</div>

					<div class="personal-project-description">
						Hungarian wiki-like site for everything trans related.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://instagram.com/genderutikalauz" target="_blank">
						<fa-icon [icon]="faInstagram"></fa-icon>
					</a>

					<a href="https://github.com/adeeena/gender-utikalauz" target="_blank">
						<fa-icon [icon]="faGithub"></fa-icon>
					</a>

					<a href="https://genderutikalauz.hu" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>

		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/gdb.png" />
			</div>

			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Translation - Gender Dysphoria Bible
					</div>

					<div class="personal-project-description">
						Provided Hungarian translation for Gender Dysphoria Bible.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://github.com/adeeena/GenderDysphoria.fyi" target="_blank">
						<fa-icon [icon]="faGithub"></fa-icon>
					</a>

					<a href="https://genderdysphoria.fyi/hu" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>

		<div class="personal-project-item">
			<div class="personal-project-image">
				<img src="assets/images/gdbfr.png" />
			</div>
			
			<div class="personal-project-infos">
				<div>
					<div class="personal-project-title">
						Translation - Gender Dysphoria Bible
					</div>

					<div class="personal-project-description">
						Provided French translation for Gender Dysphoria Bible.
					</div>
				</div>

				<div class="personal-project-links">
					<a href="https://github.com/adeeena/GenderDysphoria.fyi" target="_blank">
						<fa-icon [icon]="faGithub"></fa-icon>
					</a>

					<a href="https://genderdysphoria.fyi/fr" target="_blank" class="main-link">
						Link &gt;
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
