app-navigation {
	position: relative;
	z-index: 2;
}

.navigation {
	display: flex;
	gap: 1.5rem;
	padding-top: 3rem;

	.logo-and-name {
		display: flex;
		gap: .5rem;

		a {
			font-weight: 400;
			text-decoration: none;
		}
	}

	a {
		color: white;
	}
}