<div class="container" [@flyInOut]>
	<div class="work-experience">
		<div class="header">
			<div class="title">
				Work Experience
			</div>

			<div class="download-section">
				<a href="https://adena.work/cv-english.pdf" target="_blank">
					<fa-icon [icon]="faDownload"></fa-icon>
					PDF, English
				</a>

				<!-- <a href="https://cv.pegazus.space/cv-french.pdf" target="_blank">
					<fa-icon [icon]="faDownload"></fa-icon>
					PDF, French
				</a> -->
			</div>
		</div>
		
		<div class="white job">
			<div class="work-item">
				<div class="normal period">
					<div class="from">
						Jul 2019 -
					</div>
					<div class="to">
						<i>(present)</i>
					</div>
				</div>

				<div class="work-item-details job-header">
					<div class="job-title">
						Full Stack Engineer
					</div>

					<div class="company-name">
						Silversea Cruises,

						<span class="company-location">
							Monaco
						</span>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
					<div class="from">
						Oct 2020 -
					</div>
					<div class="to">
						<i>(present)</i>
					</div>
				</div>

				<div class="work-item-details job-details">
					<p>
						Architectural design, UI/UX design proposition and active development of a new, React-based project to create an extensible web application for managing recurring onboard tasks to be performed by the crew.
					</p>
					<p>
						Clients include set-top boxes for TVs (Biggest challenge was to optimize the layout to be comfortably readable from 10 feet away; and the navigation should be easy via remote control).
					</p>

					<div class="job-project-team-role">
						Role: <b>Development lead</b>
					</div>

					<div class="job-project-team-size">
						Team size: <b>2 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								UI/UX
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faPencilRuler"></fa-icon>
							</div>

							<div class="station-description">
								CorelDRAW<br />
								Figma
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								React / Redux<br />
								TypeScript<br />
								CSS-in-JS<br />
								Material Design<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faProjectDiagram"></fa-icon>
							</div>

							<div class="station-description">
								RESTful API<br />
								C#<br />
								.net Core 5 Web API<br />
								Automapper<br />
								LINQ
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Data Source
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDatabase"></fa-icon>
							</div>

							<div class="station-description">
								Microsoft<br />
								SQL Server 2008<br />
								Entity Framework Core<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								CI/CD
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faServer"></fa-icon>
							</div>

							<div class="station-description">
								SonarQube<br />
								Docker
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Clients
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faMobileAlt"></fa-icon>
							</div>

							<div class="station-description">
								Set-Top Boxes<br />
								<i>(Android 6,<br /> Chrome 30)</i><br />
								Phones<br />
								Tablets<br />
								Desktops<br />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
					<div class="from">
						Jul 2019 -
					</div>
					<div class="to">
						Oct 2020
					</div>
				</div>

				<div class="work-item-details job-details">
					<p>
						Architectural design, multiple UI/UX design propositions, development, deployment, field support on entire modules for guest-facing interactive TV systems.
					</p>
					
					<p>
						Modules I actively participated in:
					</p>

					<ul>
						<li>Home Automation System for cabins</li>
						<li>Public Announcement System (with Raspberry Pi, Python, NAudio)</li>
						<li>Multimedia content ingestion automations (Bash scripting under CentOS 6)</li>
						<li>Paperless evolutions: implementation of daily newspaper / daily chronicles on TV and mobile</li>
					</ul>

					<div class="job-project-team-size">
						Team size: <b>4-6 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								UI/UX
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faPencilRuler"></fa-icon>
							</div>

							<div class="station-description">
								CorelDRAW<br />
								Figma
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								AngularJS 1.5<br />
								JavaScript<br />
								SCSS<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faProjectDiagram"></fa-icon>
							</div>

							<div class="station-description">
								RESTful API<br />
								C#<br />
								.net Framework 4.6<br />
								ASP.NET Web API<br />
								LINQ
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Data Source
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDatabase"></fa-icon>
							</div>

							<div class="station-description">
								Microsoft<br />
								SQL Server 2008<br />
								Entity Framework<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Clients
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faMobileAlt"></fa-icon>
							</div>

							<div class="station-description">
								Set-Top Boxes<br />
								<i>(Android 6,<br /> Chrome 30)</i><br />
								Phones<br />
								Desktop<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="black job">
			<div class="work-item">
				<div class="normal period">
					<div class="from">
						Sept 2015 -
					</div>
					<div class="to">
						May 2019
					</div>
				</div>

				<div class="work-item-details job-header">
					<div class="job-title">
						Full Stack Developer
					</div>

					<div class="company-name">
						International Gaming Technologies,

						<span class="company-location">
							Monaco
						</span>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
					<div class="from">
						Sept 2018 -
					</div>
					<div class="to">
						May 2019
					</div>
				</div>

				<div class="work-item-details job-details">
					<p>
						Created Angular-based web application from scratch for Casino Reception Management
					</p>
					<p>
						My main role in the development team was the UI/UX/Animations/Form interactivity.
					</p>

					<div class="job-project-team-size">
						Team size: <b>6-10 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								UI/UX
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faPencilRuler"></fa-icon>
							</div>

							<div class="station-description">
								CorelDRAW
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								Angular 7<br />
								TypeScript<br />
								SCSS<br />
								Material Design<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								CI/CD
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faServer"></fa-icon>
							</div>

							<div class="station-description">
								SonarQube<br />
								Karma/Selenium
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Clients
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faMobileAlt"></fa-icon>
							</div>

							<div class="station-description">
								Desktops only
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
					<div class="from">
						Sept 2015 -
					</div>
					<div class="to">
						Sept 2018
					</div>
				</div>

				<div class="work-item-details job-details">
					<p>
						Develop and maintain WPF thick client for casino management to check, overview and audit gaming floor status in real time.
					</p>
					
					<p>
						The most challenging part was to integrate applications made in newer architecture in a heterogeneous software environment.
					</p>

					<p>
						Involved in project management between June 2017 and June 2018 – 4 team members reported to me.
					</p>

					<div class="job-project-team-size">
						Team size: <b>4-6 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								WPF<br />
								Telerik<br />
								Crystal Reports<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faProjectDiagram"></fa-icon>
							</div>

							<div class="station-description">
								WCF / SOAP<br />
								C#<br />
								.net Framework 4.0<br />
								RabbitMQ<br />
								LINQ
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Data Source
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDatabase"></fa-icon>
							</div>

							<div class="station-description">
								Oracle 11g<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Clients
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faMobileAlt"></fa-icon>
							</div>

							<div class="station-description">
								Windows Tablets<br />
								Desktop<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="black job">
			<div class="work-item">
				<div class="normal period">
					<div class="from">
						Jan 2014 -
					</div>
					<div class="to">
						Aug 2015
					</div>
				</div>

				<div class="work-item-details job-header">
					<div class="job-title">
						Application Interface Developer
					</div>

					<div class="company-name">
						Systemax SBS Hungary Kft.,

						<span class="company-location">
							Budapest, Hungary / Paris, France
						</span>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
				</div>

				<div class="work-item-details job-details">
					<p>
						Development and maintenance on an in-house application for retrieving product data tables from external vendors and integrate it into Systemax's management system.
					</p>
					<p>
						Developed several parts of a module which was responsible for big data importing - performance was the key. The goal was to import and process millions of products, photos, additional data for the shortest period of time.
					</p>

					<div class="job-project-team-size">
						Team size: <b>4 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								WPF<br />
								Telerik<br />
								Crystal Reports<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faServer"></fa-icon>
							</div>

							<div class="station-description">
								SOAP<br />
								WCF<br />
								C#<br />
								.net Framework 4.0<br />
								LINQ<br />
								ASP.NET Web API<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="black job">
			<div class="work-item">
				<div class="normal period">
					<div class="from">
						Aug 2012 -
					</div>
					<div class="to">
						Jan 2014
					</div>
				</div>

				<div class="work-item-details job-header">
					<div class="job-title">
						C# Developer
					</div>

					<div class="company-name">
						Laurel Holding / Progadat Kft.

						<span class="company-location">
							Budapest, Hungary
						</span>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
				</div>

				<div class="work-item-details job-details">
					<p>
						Developed trading / storage managing software for the National Tobacco Shops and national supermarket chains.
					</p>

					<div class="job-project-team-size">
						Team size: <b>12 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								WPF<br />
								Telerik<br />
								Fast Report<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faServer"></fa-icon>
							</div>

							<div class="station-description">
								SOAP<br />
								WCF<br />
								C#<br />
								.net Framework 4.5<br />
								LINQ<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Data Source
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDatabase"></fa-icon>
							</div>

							<div class="station-description">
								Microsoft<br />
								SQL Server 2012<br />
								Entity Framework<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="black job">
			<div class="work-item">
				<div class="normal period">
					<div class="from">
						Jan 2011 -
					</div>
					<div class="to">
						Aug 2012
					</div>
				</div>

				<div class="work-item-details job-header">
					<div class="job-title">
						C# Developer
					</div>

					<div class="company-name">
						Mininform Kft.

						<span class="company-location">
							Szeged, Hungary
						</span>
					</div>
				</div>
			</div>

			<div class="work-item">
				<div class="small period">
				</div>

				<div class="work-item-details job-details">
					<p>
						Developed car parking subscription controller application for handheld devices.
					</p>

					<div class="job-project-team-size">
						Team size: <b>3 people</b>
					</div>

					<div class="job-project-used-technologies">
						<div class="horizontal-line">
						</div>

						<div class="item">
							<div class="station-title">
								Frontend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDesktop"></fa-icon>
							</div>

							<div class="station-description">
								WinForms<br />
								WinCE 5-6<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Backend
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faServer"></fa-icon>
							</div>

							<div class="station-description">
								SOAP<br />
								WCF<br />
								C#<br />
								.net Framework 3.5<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Data Source
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faDatabase"></fa-icon>
							</div>

							<div class="station-description">
								Microsoft<br />
								SQL Server 2005<br />
							</div>
						</div>

						<div class="item">
							<div class="station-title">
								Clients
							</div>

							<div class="station-drawing">
								<fa-icon [icon]="faMobileAlt"></fa-icon>
							</div>

							<div class="station-description">
								Handheld Devices<br />
								(WinCE 5-6)<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom">
	</div>
</div>
