.container {
	.main {
		display: flex;

		@media (max-width: 600px) {
            flex-direction: column;
        }

		@media (min-width: 601px) {
			justify-content: space-between;
		}

		justify-content: center;

		margin-bottom: 5vh;

		.container-left, .container-right {
			@media (max-width: 600px) {
				padding: 0 1rem;
	            width: calc(100% - 2rem);
	        }

			@media (min-width: 601px) {
				width: 48%;
			}
		}

		.container-left {
			justify-content: center;
			display: flex;
			flex-direction: column;

			.image-container {
				background: url('/assets/images/selfie.jpg');
				background-size: cover;
				border: .3rem solid #999;
				border-radius: 50%;
				box-shadow: 0 0 3rem 0 rgba(0,0,0,0.75);
				margin: 0 auto;

				@media (max-width: 600px) {
			    	height: 10rem;
		          	width: 10rem;
		        }

		        @media (min-width: 601px) {
		          height: 18rem;
		          width: 18rem;
		        }
			}

		    @media (max-width: 600px) {
		    	margin-top: 2rem;
	            order: 2;
	        }

	        @media (min-width: 601px) {
	          order: 1;
	        }
		}

		.container-right {
			@media (max-width: 600px) {
	          order: 1;
	        }

	        @media (min-width: 601px) {
	          order: 2;
	        }
		}

		.conditional-break {
			@media (max-width: 600px) {
	          display: block;
	        }

	        @media (min-width: 601px) {
	        }
		}

		.main-text {
			@media (max-width: 600px) {
				text-align: center;
			}

			.hello {
				font-weight: bold;
				padding-top: 3rem;
				text-transform: uppercase;

				@media (max-width: 600px) {
					font-size: 2rem;
				}

				@media (min-width: 601px) {
					font-size: 3rem;
				}
			}

			.pronouns {
				font-size: 1.2rem;
				font-style: italic;

				.trans-flag {
					height: 20px;
				}
			}
		}

		.contacts {
			@media (max-width: 600px) {
				margin: 0 14vw;
			}

			.contact-item {
				display: flex;
				justify-content: flex-start;
				margin-top: 2rem;

				.contact-label {
					width: 8rem;

					span {
						background: #999999;
						color: white;
						padding: .5rem;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	.skills-box {
		background: url('/assets/images/bg.jpg');
		background-position: center;
		background-size: cover;
		min-height: 30rem;

		.overlay {
			background: rgba(255, 255, 255, .85);
			height: 100%;
			padding: 0 2rem 3rem;
			min-height: 30rem;

			.flex {
				display: flex;
				justify-content: space-between;

				.container-left, .container-right {
					width: 46%;

					.skill-title, .skill-subtitle {
						font-weight: bold;
						margin-bottom: .3rem;
					}

					.skill-title {
						font-size: 1rem;
						margin-top: 1rem;
						text-transform: uppercase;
					}

					.skill-subtitle {
						margin-top: .5rem;
					}

					.list {
						span {
							background: #ffffff;
							border: 1px solid #cccccc;
							border-radius: .5rem;
							display: inline-block;
							margin-bottom: .5rem;
							margin-right: .5rem;
							padding: .5rem;
						}
					}
				}
			}
		}
	}

	.education-box {
		background: url('/assets/images/szeged.jpg');
		background-position: center;
		background-size: cover;
		color: white;

		.overlay {
			background: rgba(0, 0, 0, .6);
			height: 100%;
			padding-bottom: 3rem;
		}

		.flex {
			display: flex;
			font-size: 1.2rem;
			height: 100%;
			justify-content: center;
			margin: 0 auto 1rem;

			@media (max-width: 600px) {
	          width: calc(100% - 2rem);
	        }

	        @media (min-width: 601px) {
	          width: 60%;
	        }

			.date {
				margin-right: 1rem;
				text-align: right;
				width: 25%;
			}

			.description {
				border-left: .3rem solid white;
				padding-left: 1rem;
				width: 75%;

				.degree {
					font-weight: bold;
				}
			}
		}
	}

	.bottom {
		margin-bottom: 25vh;
	}
}