.nazar {
  overflow: hidden;
  max-width: 80vw;
  position: absolute;
  right: 0;
  top: -4rem;
  z-index: 1;

  img {
    max-width: 80vw;
    opacity: .2;
    position: relative;
    right: -4rem;
    width: 36rem;
  }
}

.main {
	color: white;
  position: relative;
  z-index: 2;

	app-navigation {
		position: relative;
		z-index: 3;
	}
}

@media screen and (max-width: 600px) {
	.main {
		&:not(.metro-map) {
      padding: 0 1rem 1rem;
    }

    &.metro-map {
      padding: 0 1rem;
    }
	}
}

@media screen and (min-width: 601px) {
	.main {
    &:not(.metro-map) {
      padding: 0 3rem 2rem;
    }

    &.metro-map {
      padding: 0;
    }
	}
}
